.arrow-scroll-down {
    position: absolute;
    bottom: 35px;
    right: 50%;
}

.arrow-scroll-down__btn {
    background: none;
    padding: 0;
}

.arrow-scroll-down__icon {
    width: 29px;
    height: 14px;
}