.arrow-scroll-down {
    position: absolute;
    bottom: rem(35px);
    right: 50%;
    transform: translateX(50%);
}

.arrow-scroll-down__btn {
    background: none;
    padding: 0;
}

.arrow-scroll-down__icon {
    width: rem(29px);
    height: rem(14px);
}