.best {
    background: url('/burgers/img/bg/bg_best.jpg') center center /cover no-repeat;
}

.best__list {
    display: flex;
    align-items: flex-start ;
}

.best__item {
    text-align: center;
    flex: 1;
}

.best__title {
    margin-bottom: 50px;
    text-align: center;
}

.best__item-img {
    margin-bottom: 20px;
}

.best__item-img-symbol {
    width: 96px;
    height: 90px;
}

.best__desc {
    font-family: Lifehack-Medium;
    font-size: 24.2px;
    font-weight: 500;
    line-height: 28px;
    color: $black;
    margin-bottom: 20px;
}

.best__text {
    opacity: 0.8;
    font-size: 14.1px;
    font-weight: 300;
    color: $black;
}