.btn {
    font-size: rem(13px);
    padding: rem(8px) rem(16px);
    background: $orange;
    color: #fff;
    border-radius: rem(8px);
    text-transform: uppercase;
}

.btn--bg-black {
    background: $black;
}

.btn--form {
    margin-right: rem(15px);
}

.btn-clear {
    color : #f5f2ed;
    font-size: rem(14px);
    font-weight: 300;
    background: none;
}