.burger-menu-link {
    position: relative;
    vertical-align: middle;
    align-items: center;
    margin-left: rem(20px);
    display: none;

    @include tablets {
        display: flex;
    }
}

.burger-menu-link__design {
    &,
    &::before, 
    &:after {
        content: "";
        display: block;
        width: rem(27px);
        height: rem(4px);
        background: $white;
        border-radius: rem(5px);
    }

    &::before, 
    &:after {
        content: "";
        display: block;
        position: absolute;
    }

    &:after {
        top: 100%;
        margin-top: rem(5px);
    }

    &::before {
        bottom: 100%;
        margin-bottom: rem(5px);
    }
}