.close {
    position: absolute;
    right: rem(40px);
    top: rem(40px);
    opacity: 0.7;
    text-decoration: none;

    &::after, &::before {
        content: ' ';
        position: absolute;
        background-color: $white;
        width: rem(20px);
        height: rem(4px);
    }

    &::after {
        transform: rotate(45deg);
    }

    &::before {
        transform: rotate(-45deg);
    }

    &--slider-pop-up {
        top: rem(30px);
        right: rem(35px);
        &::after, &::before {
            background-color: $red;
        }
    }

    &--reviews-close {
        &::after, &::before {
            background-color: $red;
        }
    }
}