.contacts p {
    font-weight: 300;
    color: #ffffff;
}

.contacts__icon, .contacts__phone {
    display: inline-block;
    vertical-align: middle;
}

.contacts__icon {
    margin-right: rem(5px);
}

.contacts__icon-block {
    width: rem(11px);
    height: rem(11px);
}

.contacts__phone {
    font-weight: 700;
    color: #e45028;
    text-decoration: none;
}