.fixed-menu {
    position: fixed;
    top: rem(97px);
    right: rem(71px);
    z-index: $z-fixed-menu;

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.fixed-menu__item {

    &:hover {
        
        .fixed-menu__link {
            border-color: #fff;
            transition: .3s;
        }
    }

    &--active {

        .fixed-menu__link {
        border-color: #fff;
        }
    }
}

.fixed-menu__link {
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: 1px solid transparent;
    margin-bottom: rem(2px);
    position: relative;
    cursor: pointer;

    &::before {
        content: '';
        background: #fff;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        position: absolute;
    }

    &:last-child {
        margin-bottom: 0;
    }
}