.form {
    font-size: rem(14px);

    @include tablets {
        padding: 0 rem(115px);
    }

    @media screen and (max-width:560px) {
        padding: 0;
    }
}

.form__elem {
    display: flex;

    @include tablets {
        flex-direction: column;
    }
}

.form__column {
    flex: 1;
    margin-right: rem(21px);

    &:last-child {
        margin-right: 0;
    }

    @include tablets {
        margin-bottom: rem(15px);
        margin-right: 0;
        width: 100%;
    }

    @include phones {
      margin-right: 0;
    }
}

.form__row {
    display: flex;
    margin-bottom: rem(19px);

    &--radio {
        margin-bottom: rem(16px);
        margin-right: 0;
    }

    &:last-child {
        margin-bottom: 0;
    }

    @include  phones {
        justify-content: center;
        width: 100%;
    }
}

.form__block {
    flex: 1;
    margin-right: rem(20px);

    &:last-child {
        margin-right: 0;
    }

    &--width {
        flex:1;
    }

    &--textarea {
        margin-right: 0;
    }
  
    &--remove-margin-right {
        @include phones {
            margin-right: 0;
        }
    }

    &--disappears {
        @include phones {
            display: none;
        }
    }
}

.form__buttons {

    @include phones {
        text-align: center;
    }
}

.form__buttons-radio {
    margin-right: rem(19px);

    &:last-child {
        margin-right: 0;
    }
}

.form__input {
    background: $white;
    border-radius: 5px;
    border: none;
    padding: rem(10px) rem(21px);
    width: 100%;

    &--textarea {
        height: rem(112px);
        resize: none;
        margin-bottom: rem(15px);

        @include tablets {
            margin-bottom: rem(10px);
        }
    }
}

.form__radio, .form__checkbox {
    display: none;
}

.form__radio:checked ~ .form__visible::before, 
.form__checkbox:checked ~ .form__visible::before {
    opacity: 1;
}

.form__visible {
    display: inline-block;
    vertical-align: text-bottom;
    width: rem(15px);
    height: rem(15px);
    position: relative;
    margin-right: rem(9px);
    background-color: $white;

    &::before {
        content: "\2714";
        top: 0;
        left: rem(2px);
        opacity: 0;
        width: rem(7px);
        height: rem(7px);
        position: absolute;
        color: $red;
    }   
}

.form__visible--radio {
    border-radius: 50%;

    &::before {
        content: "";
        top: rem(4px);
        left: rem(4px);
        opacity: 0;
        width: rem(7px);
        height: rem(7px);
        border-radius: 50%;
        position: absolute;
        background: $red;
   }
}