.menu {
    background: url('/burgers/img/bg/bg_menu.jpg') center center / cover no-repeat;
    color: $white;
    position: relative;
}

.menu__title {
    position: absolute;
    top: rem(111px);
    left: rem(94px);

    @include phones-xl {
        left: rem(40px);
    }
}

.menu__list {
    display: flex;
    justify-content: flex-end;
    height: 100%;
}

.menu__item {
    display: flex;
    height: 100%;
    z-index: $z-acco;
    
    &--active {

        .menu__link-subtitle {
            color: $yellow;
        }

        .menu__content {
            width: rem(550px);
            opacity: 1;
            @include tablets {
                width: 100%;
            }
        }

        .menu__text {
            display: block;
        }
    }
}

.menu__link {
    display: inline-block;
    writing-mode: vertical-lr;
    color: inherit;
    height: 100%;
    text-decoration: none;
    background: url('/burgers/img/bg/bg_menu_1.png') center center / cover no-repeat;

    &--vegan {
        background: url('/burgers/img/bg/bg_menu_2.png') center center / cover no-repeat;
    }

    &--diets {
        background: url('/burgers/img/bg/bg_menu_3.png') center center / cover no-repeat;
    }
}

.menu__link-subtitle {
    display: block;
    transform: rotate(180deg);
    @include setFontStyleGagalin;
    font-size: rem(40px);
    line-height: rem(64px);
    font-weight: 400;
    padding: rem(40px) rem(8px) 0;

    @include phones-xl {
        line-height: rem(20px);
        padding: rem(40px) rem(15px) 0;
    }
}

.menu__content {
    width: 0;
    opacity: 0;
    height: 100%;
    background-color: rgba(20,20,20,0.7);
    overflow: hidden;
    transition: opacity .5s ease-in;
}

.menu__text {
    display: none;
    font-weight: 300;
    padding: rem(62px) rem(37px) 0 rem(33px);
}