.nav {
    flex: 1;
    margin-right: rem(10px);
    color: $white;

    @include tablets {
        display: none;
    }
}

.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.nav__item {
    position: relative;
    margin-right: rem(30px);
    

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: $white;
        left: rem(-20px);
        top: rem(10px);
        transition: .3s;
    }

    &:first-child::before {
        content: none;
    }

    &:last-child {
        margin-right: 0;
    }
}

.nav__link  {
    display: inline-block;
    color: inherit;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;

    &:hover {
        color: darken($yellow, 20%);
    }
}