.nav {
    flex: 1;
    margin-right: rem(10px);

    @include tablets {
        display: none;
    }

    @include phones {
        display: none;
    }
}

.nav__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.nav__item {
    position: relative;
    margin-right: rem(30px);
    color: #fff;

    &::before {
        content: "";
        position: absolute;
        width: 4px;
        height: 4px;
        border-radius: 50%;
        background: #fff;
        left: rem(-20px);
        top: rem(10px);
        transition: .3s;
    }

    &:first-child::before {
        content: none;
    }

    &:last-child {
        margin-right: 0;
    }

    &:hover {
        background-color: darken($yellow, 5%);
    }
}

.nav__link  {
    color: #fff;
    font-size: rem(13px);
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
}