.reviews__list {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

.reviews__item {
    position: relative;
    width: 25%;
    height: 50%;
    color: #fff; 
    
    &:hover {
        .reviews__desc {
        opacity: 1;
        }
    }
}

.reviews__picture {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.reviews__desc {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: 50px 33px 50px 20px;
    opacity: 0;
    transition: .5s;
    background-color: rgba(20,20,20,0.7);
}

.reviews__title {
    margin-bottom: 30px;
    font-family: Gagalin;
    font-weight: 400;
    font-size: 14px;
}

.reviews__text {
    margin-bottom: 17px;
    font-size: 14px;
    font-weight: 300;
}