.team {
    background: url('/burgers/img/bg/bg_team.jpg') center center / cover no-repeat;
    position: relative;
}

.team-block__right {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    opacity: 0.92;
    background-color: #2f3234;
    display: flex;
    align-items: center;
    justify-content: center;

    @include tablets {
        left: 0;
    }
}

.team__desc {
    @include tablets {
        text-align: center;
        padding: 0 rem(255px);
    }
}

.team__title {
    margin-bottom: rem(46px);
}

.team__item-info {
    display: none;

    @include tablets {
        flex-direction: column;
    }
}

.team__item {
    margin-bottom: rem(35px);
    transition: 1.5s;
    font-family: Ubuntu-Regular;
    color: #fff;
    font-size: rem(14.1px);

    &:last-child {
        margin-bottom: 0;
    }  

    &--active {

        .team__item-name {
            color: #f9b43b;
        }

        .team__item-info {
            display: inline-flex;
        }

        .team__item-decor {
            margin-top: rem(3px);
            width: 0;
            height: 0;
            border: 5px solid transparent;
            border-bottom-color: #f9b43b;
        }
    }
}

.team__item-link {
    color: inherit;
    text-decoration: none;
    display: inline-flex;
}

.team__item-name {
    @include gagalin;
    font-weight: 400;
    margin-bottom: rem(17px);
}

.team__item-decor {
    margin: rem(7px) rem(5px) 0;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #f9b43b;
}

.team__item-img {
    margin-right: rem(21px);

    @include tablets {
        margin-right: 0;
    }
}

.team__item-profession {
    margin-bottom: rem(10px);
    font-weight: 700;
}

.team__item-text p {
    font-weight: 300;
}