.title {
    font-size: rem(72px);
    font-weight: 400;
    color: $yellow;
    @include gagalin();
    line-height: 1;

    @include phones {
        font-size: rem(62px);
    }

    &--color {

        &-black {
            color: $black;
        }
    
        &-white {
            color: $white;
        }
    }
}

.subtitle {
    @include lifehack;
    font-size: rem(65px);
    color: $white;
    line-height: 1;
    letter-spacing: -0.025em;

    @include phones {
        font-size: rem(55px);
    }
}