.title {
    font-size: rem(72px);
    font-weight: 400;
    color: $yellow;
    @include setFontStyleGagalin();
    line-height: 1;

    @include phones-xl {
        font-size: rem(52px);
    }

    &--color {

        &-black {
            color: $black;
        }
    
        &-white {
            color: $white;
        }
    }
}

.subtitle {
    @include setFontStyleLifehack;
    font-size: rem(65px);
    color: $white;
    line-height: 1;
    letter-spacing: -0.025em;

    @include phones-xl {
        font-size: rem(55px);
    }
}