.we-make-burgers {
    background: url('/burgers/img/bg/bg_we_make_burgers.jpg') center center / cover no-repeat;
    position: relative;
}

.we-make-burgers__container {
    height: 100%;
}

.we-make-burgers__content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: .7;
    
    @include tablets {
        flex-wrap: wrap;
    }
}

.we-make-burgers__image-pic {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.we-make-burgers__desc {
    padding-top: rem(67px);
    padding-left: rem(16px);

    @include tablets {
        padding: 0 rem(70px);
        text-align: center;
    }
}

.we-make-burgers__title {
    margin-bottom: rem(30px);
}