@mixin setFontStyleUbuntu($style:light) {
    font-family: 'Ubuntu', Helvetica, sans-serif;

    @if $style == light {
        font-weight: 300;
    }

    @if $style == medium {
        font-weight: 500;
    }

    @if $style == bold {
        font-weight: bold;
    }
}

@mixin setFontStyleGagalin {
    font-family: 'Gagalin-Regular', Helvetica, sans-serif;
}

@mixin setFontStyleLifehack {
    font-family: 'Lifehack-Medium';
}